[Desktop Entry]
Name=Euphorbia
GenericName=LaTeX editor
Comment=Euphorbia LaTeX editor
Exec=euphorbia %U
Icon=euphorbia
Terminal=false
Type=Application
MimeType=application/x-latex;application/x-tex;
Categories=GTK;Office;
